body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  text-align: center;
  background-color: grey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

div {
  padding: 20px;
}

.container{
  text-align: center;
}

.card {
  display: inline-block;
  vertical-align: top;
  font-family: system-ui;
  background: #5bb4c4;
  color: white;
  text-align: center;
  width: 180px;
  height: 240px;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 1.2em; 
}

.description {
  color: #f0f0f0;
  font-style: italic;
  margin-top: 8px;
  font-size: 0.9em;
}

.priority {
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-weight: bold;
  font-style: italic;
}